/Finance Tracker/nbproject/private/
/Finance Tracker/build/
/Wordle Game/nbproject/private/
/mavenproject1/target/
/FinanceTracker/target/
/SimpleJFX/target/
/FinanceTracker/nbproject/private/
/FinanceTracker/build/
/FinanceTracker/dist/
