.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:  #7a0ed9;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: purple;
}
.table-row-cell:focus {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: purple;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.wallet-card {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
}

.wallet-card:hover {
    -fx-background-color: #F0F0F0;
}

.wallet-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.wallet-balance {
    -fx-font-size: 14px;
    -fx-text-fill: #888888;
}

.card {
    -fx-background-color: #FFD700; /* Warna default */
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 0);
}

.card-green {
    -fx-background-color: #ADFF2F;
}

.card-blue {
    -fx-background-color: #00CED1;
}

